/* core style */

body {
	line-height: 1.5;
	text-align: center;
	margin: 0;
}

img {
	width: 100%;
}

#showcase h1 {
	position: fixed;
	top: -20px;
	left: 70px;
	color: #f0be35;
	letter-spacing: 5px;
	text-transform: uppercase;
	z-index: 2;
}

#showcase h3 {
	position: fixed;
	margin: 10px;
	top: 25px;
	left: 35px;
	color: #f0be35;
	letter-spacing: 5px;
	text-transform: uppercase;
	z-index: 2;
}


/* header showcase */

#showcase {
	min-height: 70px;
}

#showcase .top-header{
	position: fixed;
	/*background-image: url(../images/ollin-logo.webp);*/
	background-color: rgb(6, 30, 71);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 70px;
	z-index: 1;
	opacity: 0.6;
}


/* menu button */

.my-links {
	display: flex;
	justify-content: space-around;
	width: 70%;
	position: fixed;
	top: 25px;
	left: 180px;
	list-style-type: none;
	z-index: 2;
}

.read-more a{
	text-decoration: none;
	font-size: 18px;
	color: rgb(255, 182, 52);
	font-family: 'Ubuntu', sans-serif;
}

.read-more a:hover {
	color: white;
}

.social-pages {
	display: flex;
	position: fixed;
	right: 50px;
	top: 15px;
	list-style-type: none;
	z-index: 1;
	margin: 0px;
}

.facebook-page, .instagram-page {
	margin-left: 25px;
	width: 40px;
}

.facebook-page:hover, .instagram-page:hover {
	cursor: pointer;
}

/* burger menu */

.burger-menu .line1{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 5px;
	margin: 5px;
	background-color: white;
	z-index: 1;
}

.line2 {
	position: absolute;
	top: 20px;
	right: 10px;
	width: 30px;
	height: 5px;
	margin: 5px;
	background-color: white;
	z-index: 1;
}

.line3 {
	position: absolute;
	top: 30px;
	right: 10px;
	width: 30px;
	height: 5px;
	margin: 5px;
	background-color: white;
	z-index: 1;
}

/* section Top Page */

.ollin-background {
	width: 100%;
	height: 980px;
	position: relative;
	background-image: url(../images/bubbles-header.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.ollin-background-text {
	font-family: 'Ubuntu', sans-serif;
	font-size: 60px;
	position: absolute;
	top: 45%;
	left: 25%;
	color: rgb(255, 182, 52);
}

/* section A */

#section-a {
	width: 100%;
	height: 1050px;
	padding: 0px;
	background-color: rgb(255, 182, 52);

}

.content-title-about-us {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(6, 30, 71);
	font-size: 60px;
	margin-bottom: 0px;
	position: relative;
	margin-top: 0px;
	padding-bottom: 30px;
}

.first-column {
	float: left;
	width: 50%;
	padding: 10px;
	height: 905px;
}

.second-column {
	position: relative;
	top: 100px;
}

.second-column video {
	width: 45%;
	height: 600px;
	background-color: black;
}


.about-us-paragraph {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(6, 30, 71);
	font-size: 60px;
	height: 200px;
	position: relative;
	top: 140px;
}

/*.play-button {
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	border-style: solid;
	border-width: 30px 0px 30px 50px;
	border-color: rgb(255, 182, 52) rgb(255, 182, 52) rgb(255, 182, 52) rgb(6, 30, 71);;;
	position: relative;
	bottom: 20px;
}*/

/* section B */

#section-b {
	width: 100%;
	height: 1050px;
	padding: 0px;
	background-color: rgb(6, 30, 71);
}

.content-title-special-offer {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(255, 182, 52);
	font-size: 60px;
	margin-top: 0px;
}

.special-offer-container {
	height: 880px;
	width: 50%;
	float: right;
}

.special-offer-paragraph {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(255, 182, 52);
	font-size: 50px;
	position: relative;
	top: 300px;
}

/* sectio B slideshow */

.slide-container {
	width: 45%;
	margin: auto;
	overflow: hidden;
	position: relative;
	top: 120px;
}

.image-container {
	display: flex;
	width: 100%;
	position: relative;
	transition: right 2s;
}

.button-container {
	position: relative;
	top: 50px;
}

.slider-button {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background-color: black;
}

#slider-image-1:target ~ .image-container{
	right: 0%;
}

#slider-image-2:target ~ .image-container{
	right: 100%;
}

#slider-image-3:target ~ .image-container{
	right: 200%;
}

/* section C */
#section-c {
	background-color: rgb(255, 182, 52);
}

.top-products-heading {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(6, 30, 71);
	font-size: 60px;
	margin-top: 0px;
}

.top-products-wrapper {
	display: flex;
}

.product {
	margin: 10px;
}

.product h3 {
	font-size: 25px;
}

.product-image {
	border-radius: 350px;
}

/* section D */

#section-d {
	width: 100%;
	height: 1050px;
	padding: 0px;
	background-color: rgb(6, 30, 71);
}

.registration-form-heading {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(255, 182, 52);
	font-size: 60px;
	position: relative;
	margin-top: 0px;

}

.registration-form-paraghraph-wrapper {
	float: left;
	width: 50%;
	padding: 10px;
	height: 860px;

}

.registration-form-paraghraph {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(255, 182, 52);
	font-size: 50px;
	position: relative;
	top: 200px;
}

.registration-information-container {
	float: right;
	position: relative;
	top: 300px;
	right: 10%;
}

.registration-information-container div{
	margin: auto;
	padding: 5px;
	width: 400px;
	position: relative;
}


.first-input, .second-input, .third-input, .forth-input, .fifth-input {
	width: 150%;
	height: 45px;
	margin: 5px;
	border-radius: 8px;
	position: relative;
}

.first-input {
	right: 100px;
	top: -140px;
}

.second-input {
	right: 100px;
	top: -120px;
}

.third-input {
	right: 100px;
	top: -100px;
}

.forth-input {
	right: 100px;
	top: -80px;
}

.fifth-input {
	right: 100px;
	top: -60px;
}

.submit-form-button {
	width: 70%;
	position: relative;
	top: -40px;
	height: 50px;
	border-radius: 50px;
	background-color: rgb(255, 182, 52);
	color: black;
	text-transform: uppercase;
}


/* Footer */

#section-e {
	width: 100%;
	height: 950px;
	background-color: rgb(255, 182, 52);
}

.companies-contacts-heading {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(6, 30, 71);
	font-size: 60px;
}

.companies-information {
	float: right;
	position: relative;
	top: 20%;
	right: 10%;
	color: rgb(6, 30, 71);
	font-size: 40px;
	font-family: 'Ubuntu', sans-serif;
}

.companies-location-map {
	float: left;
	position: relative;
	top: 10%;
	left: 5%;
}

.companies-location-map iframe {
	width: 220%;
	height: 500px;
	border-radius: 60px;
}

.copyright {
	position: relative;
	top: 800px;
	background: black;
	color: white;
	height: 80px;
	background-color: #4a4949;
}

.copyright p {
	position: relative;
	left: 10%;
	top: 45%;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	color: #a3a3a3;
}

/* kompiuteris */
@media screen and (min-width: 1000px) {

	.burger-menu {
		display: none;
	}

}

/* mobilus */
@media screen and (max-width: 1000px) {

	.social-pages {
	position: absolute;
	left: 200px;
	}

	.my-links {
		position: absolute;
		right: 10px;
		top: 10px;
		display: flex;
		flex-direction: column;
		width: 30%;
		transform: translateX(200%);
	}

	.menu-active {
		transform: translateX(120%);
		transition: 1s;
	}

	.ollin-background-text {
		position: absolute;
		left: 5%;
	}

/* Section A */

	#section-a {
		width: 100%;
		height: 950px;
	}

	.second-column video {
		position: relative;
		width: 80%;
		height: 450px;
		top: -800px;
	}

	.about-us-paragraph {
		font-size: 30px;
		position: relative;
		left: 50%;
		top: 0px;
	}


/* section B */

	#section-b {
		height: 950px;
		width: 100%;
	}

	.content-title-special-offer {
		position: relative;
		right: 25%;
	}

	.special-offer-container {
		width: 100%;
	}

	.special-offer-paragraph {
		font-size: 30px;
		position: relative;
		top: 0px;
	}

	/* sectio B slideshow */
/* PAGOOGLINTI DEL SLAIDINIMO PER TELEFONA */

	.slide-container {
		width: 70%;
		position: relative;
		top: -700px;
	}

	.button-container {
		position: relative;
		top: -750px;
	}

	.slider-button {
		height: 20px;
		width: 20px;
		border-radius: 10px;
	}

/* Section C */

	#section-c {
		height: 1000px;
	}

	.top-products-heading {
		position: relative;
		top: -100px;
	}

	.top-products-wrapper {
		position: relative;
		top: -50px;
	}

/* Section D */

	.registration-form-paraghraph {
		font-size: 30px;
		position: relative;
		top: 0px;
	}

	.registration-form-paraghraph-wrapper {
		width: 100%;
	}

	.first-input, .second-input, .third-input, .forth-input, .fifth-input {
		width: 100%;
		position: relative;
	}

	.registration-information-container {
		position: relative;
		top: -550px;
	}

	.submit-form-button {
		width: 70%;
		position: relative;
		right: 25%;
	}

/* Section e */

	#section-e {
		height: 950px;
	}

	.companies-contacts-heading {
		position: relative;
		left: 25%;
		width: 100%;
	}

	.companies-information {
		position: relative;
		top: -300px;
		font-size: 30px;
		right: 20%;
	}

	.companies-location-map {
		position: relative;
		top: -50px;
		left: 13%;
	}

	.companies-location-map iframe {
		width: 200%;
		height: 400px;
		border-radius: 60px;
	}

	.copyright p {
		position: relative;
		left: 25%;
		font-size: 15px;
	}
}
