/* core style */

body {
	line-height: 1.5;
	text-align: center;
	margin: 0;
	overflow-x: hidden;
}

img {
	width: 100%;
}

#showcase h1 {
	width: 180px;
	position: fixed;
	top: -10px;
	left: 40px;
	z-index: 1;
}

/* header showcase */

#showcase {
	min-height: 70px;
}

.top-header{
	position: fixed;
	top: 0%;
	background-color: rgb(6, 30, 71);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 87px;
	z-index: 1;
	opacity: 0.8;
}


/* menu button */

.my-links-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 70%;
	position: fixed;
	top: 3%;
	left: 210px;
	list-style-type: none;
	z-index: 1;
}

.my-links a{
	text-decoration: none;
	font-size: 18px;
	color: rgb(255, 182, 52);
	font-family: 'Ubuntu', sans-serif;
}

.my-links a:hover {
	color: white;
}

.social-pages {
	display: flex;
	position: fixed;
	right: -2%;
	top: 5px;
	list-style-type: none;
	z-index: 1;
}

.facebook-page, .instagram-page {
	margin-left: 25px;
	width: 20%;
}

.facebook-page:hover, .instagram-page:hover {
	cursor: pointer;
}


/* section Top Page */

.ollin-background {
	width: 100%;
	height: 980px;
	position: relative;
	background-image: url(../images/bubbles-header.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.ollin-background-text  {
	font-family: 'Ubuntu', sans-serif;
	font-size: 4vw;
	position: absolute;
	top: 40%;
	left: 19%;
	color: rgb(255, 182, 52);

}

/* section A */

#section-a {
	width: 100%;
	height: 1050px;
	padding: 0px;
	background-color: rgb(255, 182, 52);

}

.content-title-about-us {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(6, 30, 71);
	font-size: 60px;
	margin-bottom: 0px;
	position: relative;
	margin-top: 0px;
	padding-bottom: 30px;
}

.first-column {
	float: left;
	width: 50%;
	padding: 10px;
	height: 905px;
}

.second-column {
	position: relative;
	top: 100px;
}

.second-column video {
	width: 45%;
	height: 600px;
	background-color: black;
	outline: none;
}

.about-us-paragraph {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(6, 30, 71);
	font-size: 50px;
	height: 200px;
	position: relative;
	top: 200px;
}

/* section B */

#section-b {
	width: 100%;
	height: 1050px;
	padding: 0px;
	background-color: rgb(6, 30, 71);
}

.content-title-special-offer {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(255, 182, 52);
	font-size: 60px;
	margin: 0px;
}

.special-offer-container {
	height: 880px;
	width: 50%;
	float: right;
}

.special-offer-paragraph {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(255, 182, 52);
	font-size: 50px;
	position: relative;
	top: 300px;
}

/* sectio B slideshow */

.slide-container {
	width: 40%;
	margin: auto;
	overflow: hidden;
	position: relative;
	top: 120px;
}

.image-container {
	display: flex;
	position: relative;
	width: 100%;
}

.button-container {
	position: relative;
	top: -15%;

}

#previous-button {
	border: solid black;
	border-width: 0 5px 5px 0;
	padding: 10px;
	background-color: transparent;
	transform: rotate(135deg);
	position: relative;
	left: -17%;
	outline: none;
}

#next-button {
	border-width: 0 5px 5px 0;
	padding: 10px;
	background-color: transparent;
	transform: rotate(-45deg);
	position: relative;
	right: -17%;
	outline: none;
}


/* section C */
#section-c {
	background-color: rgb(255, 182, 52);
}

.top-products-heading {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(6, 30, 71);
	font-size: 60px;
	margin-top: 0px;
}

.top-products-wrapper {
	display: flex;
}

.product {
	margin: 10px;
	font-family: 'Ubuntu', sans-serif;
	color: rgb(6, 30, 71);
}

.product h3 {
	font-size: 25px;
}

.product-image {
	border-radius: 350px;
}

/* section D */

#section-d {
	width: 100%;
	height: 1050px;
	padding: 0px;
	background-color: rgb(6, 30, 71);
}

.registration-form-heading {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(255, 182, 52);
	font-size: 60px;
	position: relative;
	margin-top: 0px;
}

.registration-form-paraghraph-wrapper {
	float: left;
	width: 50%;
	padding: 10px;
	height: 860px;
}

.registration-form-paraghraph {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(255, 182, 52);
	font-size: 50px;
	position: relative;
	top: 200px;
}

.registration-information-container {
	position: relative;
	top: 11%;
}

.contact-form {
	width: 35%;
	margin: auto;
	background-color: rgb(0,0,0,0.8);
	padding: 20px 50px 40px 50px;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
}

.input-wrapper {
	display: flex;
	flex-direction: column;
}

.information-input {
	margin: 10px 0;
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid rgb(255, 182, 52);
	padding: 30px;
	color: rgb(255, 182, 52);
}

.submit-button {
	background-color: rgb(255, 182, 52);
	padding: 15px;
	margin-top: 15px;
	border-radius: 10px;
	color: rgb(6, 30, 71);
	text-transform: uppercase;
	width: 100%;
	font-weight: bold;
}


/* Footer */

#section-e {
	width: 100%;
	height: 950px;
	background-color: rgb(255, 182, 52);
}

.companies-contacts-heading {
	font-family: 'Ubuntu', sans-serif;
	color: rgb(6, 30, 71);
	font-size: 60px;
}

.companies-information {
	width: 100%;
	float: right;
	position: relative;
	color: rgb(6, 30, 71);
	font-size: 40px;
	font-family: 'Ubuntu', sans-serif;
}

.companies-information a{
	text-decoration: none;
	color: rgb(6, 30, 71);
}

.companies-location-map {
	width: 100%;
	height: 450px;
	position: relative;
	overflow: hidden;
}

.companies-location-map iframe {
	width: 100%;
}


.copyright {
	position: relative;
	bottom: -3%;
	height: 70px;
	background-color: #4a4949;
}

.copyright p {
	position: relative;
	top: 40%;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	color: #a3a3a3;
}


/* planšetė */
@media only screen and (max-width: 1200px) {

/* showcase */
	#showcase h1 {
		width: 150px;
		top: -5px;
	}

	.my-links-wrapper {
		position: fixed;
		left: 19%;
	}

	.my-links a {
		font-size: 14px;
	}

	.facebook-page, .instagram-page {
		width: 16%;
	}

	.social-pages {
		right: -4%;
		top: 1%;
	}

	.ollin-background-text {
		font-size: 5vw;
		left: 15%;
	}

/* section A */
	.second-column video {
		height: 400px;
		position: relative;
		top: 60px;
	}

/* section D */

	.registration-form-paraghraph {
		font-size: 40px;
	}

}

/* mobilus */
@media only screen and (max-width: 1000px) {

/* showcase */

	.top-header {
		height: 70px;
	}

	#showcase h1 {
		width: 145px;
		top: -10px;
	}

	.social-pages {
		width: 210px;
		position: fixed;
		left: 150px;
		top: 0%
	}

	.my-links {
		z-index: 1;
	}

	.ollin-background-text {
		font-size: 7vw;
		position: absolute;
		left: 0%;
	}


/* burger menu */

	.my-links a {
		color: white;
		position:relative;
		left: -50%;
		top: 40%;
		font-size: 15px;
	}

	.my-links {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: fixed;
		top: 53px;
		left: 0%;
		width: 100%;
		height: 200px;
		background-color: rgb(6, 30, 71);
		opacity: 0.8;
		transform: translateY(-135%);
	}

	.my-links a:hover {
		color: rgb(255, 182, 52);
	}

	.read-more-about-us {
		position: fixed;
		top: 0px;
		left: 50%;
	}

	.read-more-catalogue {
		position: fixed;
		top: 30px;
		left: 50%;
	}

	.read-more-special-offer {
		position: fixed;
		top: 60px;
		left: 50%;
	}

	.read-more-top-products{
		position: fixed;
		top: 90px;
		left: 50%;
	}

	.read-more-registration {
		position: fixed;
		top: 120px;
		left: 50%;
	}

	.read-more-contacts{
		position: fixed;
		top: 150px;
		left: 50%;
	}

	.menu-active {
		transform: translateY(0%);
		transition: 1s;
	}

	.burger-menu {
		width: 38px;
		height: 3%;
		position: fixed;
		z-index: 1;
		top: 1%;
		right: 9px;
	}

	.line1 {
		width: 30px;
		height: 5px;
		margin: 4px;
		background-color: white;
	}

	.line2 {
		width: 30px;
		height: 5px;
		margin: 4px;
		background-color: white;
	}

	.line3 {
		width: 30px;
		height: 5px;
		margin: 4px;
		background-color: white;
	}


/* Section A */

	#section-a {
		width: 100%;
		height: 950px;
	}

	.second-column video {
		position: relative;
		width: 80%;
		height: 450px;
		top: -800px;
	}

	.about-us-paragraph {
		font-size: 30px;
		position: relative;
		left: 50%;
		top: 0px;
	}


/* section B */

	#section-b {
		height: 950px;
		width: 100%;
	}

	.content-title-special-offer {
		width: 100%;
		display: flex;
		flex-direction: column;
		position: relative;
		top: -95px;
	}

	.special-offer-container {
		width: 100%;
	}

	.special-offer-paragraph {
		font-size: 35px;
		position: relative;
		top: 0px;
	}

	/* sectio B slideshow */
/* PAGOOGLINTI DEL SLAIDINIMO PER TELEFONA */

	.slide-container {
		width: 70%;
		position: relative;
		top: -700px;
	}

	.button-container {
		position: relative;
		top: -750px;
	}

	.slider-button {
		height: 20px;
		width: 20px;
		border-radius: 10px;
	}

/* Section C */

	#section-c {
		height: 1870px;
	}

	.top-products-heading {
		position: relative;
		top: -100px;
	}

	.top-products-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		position: relative;
		top: -130px;
	}

	.product-image {
		border-radius: 0px;
		width: 50%;
		height: 350px;

	}

/* Section D */

	.registration-form-paraghraph {
		font-size: 30px;
		position: relative;
		top: 0px;
	}

	.registration-form-paraghraph-wrapper {
		width: 100%;
	}


	.registration-information-container {
		position: relative;
		top: -650px;
	}

	.contact-form {
		padding: 10px 40px 30px 40px;
		width: 55%;
	}

	.information-input {
		padding: 15px;
	}

/* Section E */

	#section-e {
		height: 950px;
	}

	.companies-information {
		font-size: 30px;
		position: relative;
		top: -3%;
	}

	.copyright {
		position: relative;
		top: 11%;
	}

}
